<%= form_for(@photo, :html => {:multipart => true}) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class:'form-control' %>
  </div>
  <br />
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows:5, class:'form-control' %>
  </div>
  <br />
  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit 'Submit', class:'btn btn-default' %>
  </div>
<% end %>
